// FONTAWESOME
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

// VARS
@import 'partials/vars';

// UTILITIES
@import 'partials/utilities';

// COMMONS
@import 'partials/commons';

// HEADER
@import 'partials/header';

// HOMEPAGE
    // Hero
    @import 'partials/homepage/hero'; 

    // Cards
    @import 'partials/homepage/cards'; 

    // Info Cards
    @import 'partials/homepage/info-cards'; 

    // Cards
    @import 'partials/homepage/cards'; 

// CARDS
@import 'partials/cards';

// SINGLE PRODUCT INFO
@import 'partials/product-info';

// FOOTER
@import 'partials/footer';