* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.img-resp {
  width: 100%;
  height: auto;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3 - 20px );
  margin: 0 10px;
}