// MAIN FOOTER
.main-footer {
    padding: 70px 0 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    color: palette(3);
    a {
        color: palette(3);
        transition: color 200ms ease-in;
        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }
    h3 {
        margin-bottom: 10px;
        @include m('b-25')
    }
}

.hero-footer {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 992px) {

    // MAIN FOOTER
    .footer-content {
        flex-direction: column;
        padding: 50px;
    }
}