// Main header
.nav-item {
    padding: 20px;
    a {
        color: $black;
        font-weight: bold;
        font-size: 26px;
    }
    &.active,
    &:hover {
        background: palette(2);
    }
}