.product-detail {
    position: relative;
    background: palette(5);
    padding: 50px 0;
    img {
        display: block;
    }
    .next,
    .prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: palette(1);
        color: $white;
        border-radius: 10px;
        padding: 10px;
        font-size: 58px;
    }
    .next {
        right: 0;
    }
    .prev {
        left: 0;
    }
}
