// CONTAINER
.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

// Buttons
.btn {
    padding: 10px 20px;
    border-radius: 16px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    background: $white;
}

// Layouts
.df {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & > .w50 {
        width: calc(100% / 2);
        flex-wrap: wrap;
    }
}

// Text
.txt-center {
    text-align: center;
}

// Lists
.h-list {
    display: flex;
    list-style: none;
    &.center {
        justify-content: center;
    }
    a {
        text-decoration: none;
    }
}

.img-resp {
    width: 100%;
    height: auto;
    display: flex;
}

// Lists    
.v-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    a {
        text-decoration: none;
    }
}

// Margins
@for $i from 1 through 4 {
    .mb-#{$i * 25} {
        margin-bottom: $i*25 + px;
    }
}
@for $i from 1 through 4 {
    .mt-#{$i * 25} {
        margin-top: $i*25 + px;
    }
}

@for $i from 1 through 4 {
    .pb-#{$i * 25} {
        padding-bottom: $i*25 + px;
    }
}
@for $i from 1 through 4 {
    .pt-#{$i * 25} {
        padding-top: $i*25 + px;
    }
}

@for $i from 1 through 4 {
    .m-y#{$i * 25} {
        margin-top: $i*25 + px;
        margin-bottom: $i*25 + px;
    }
}
@for $i from 1 through 4 {
    .p-y#{$i * 25} {
        padding-top: $i*25 + px;
        padding-bottom: $i*25 + px;
    }
}

/* HAMBURGER MENU */
.hamburger-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 350ms;
    span {
        display: block;
        height: 6px;
        width: 35px;
        margin-bottom: 6px;
        background: palette(4);
        border-radius: 3px;
        cursor: pointer;
        transition: transform 350ms;
        &last-child {
            margin-bottom: 0;
        }
    }
}

.hamburger-menu.active {
    transform: translateX(15px);
    span {
        &:first-child {
            transform: rotate(45deg) translateY(17px);
        }
        &:last-child {
            transform: rotate(-45deg) translateY(-16px);
        }
        &:nth-child(2) {
            opacity: 0;
            transform: translateX( 10px)
        }
    }
}

// Querys
.mobile-only {
    display: none;
}

.desktop-only {
    display: flex;
}

/* DESKTOP VERSION */
@media screen and (max-width: 992px) {

    // Querys
    .mobile-only {
        display: flex;
    }
    
    .desktop-only {
        display: none;
    }

    // Layouts
    .df {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        & > .w50 {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}