.cards-slider {
    display: flex;
    .card {
        position: relative;
        display: flex;
        width: 50%;
        height: 600px;
        overflow: hidden;
    }
    .card-img {
        display: flex;
        width: 50%;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    .card-txt {
        width: 50%;
        padding: 50px;
        &.pasta {
            background: linear-gradient(homePalette(2), homePalette(1));
        }
        .pasta-title {
            color: homePalette(1);
            font-size: 124px;
        }
        &.semole {
            background: linear-gradient(homePalette(4), homePalette(3));
        }
        .semole-title {
            @extend .pasta-title;
            color: homePalette(3);
        }
        .descr {
            padding-right: 50px;
            color: $white;
            font-family: serif;
            font-size: 41px;
            font-weight: lighter;
            .btn {
                margin-top: 10px;
            }
        }
    }
    .ricette {
        @include center(ab-x);
        background: $white;
        bottom: -20px;
        height: 100px;
        padding: 5px 15px;
        transform: rotate(-2deg) translateX(-50%);
        font-size: 26px;
        white-space: nowrap;
        box-shadow: 3px 8px 4px 3px rgba($black, .35);
        cursor: pointer;
        animation: move 3s infinite ease-in-out reverse;
        i {
            padding: 5px 20px 0 20px;
            font-size: 32px;
            transform: rotate(20deg) scale(1,1);
            animation: zoom 3s infinite linear;
        }
        &.semole {
            background: linear-gradient(90deg, homePalette(2), homePalette(1));
            color: $white;
        }
    }
    .chef-camicia {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 10px;
        right: auto;
        img {
            height: 200px;
        }
    }
}

@keyframes move {
    0% {
        bottom: -15px;
    }
    15% {
        bottom: -20px;
    }
    50% {
        bottom: -10px;
    }
    85%{
        bottom: -20px;
    }
    100%{
        bottom: -15px;
    }

}
@keyframes zoom {
    0% {
        transform: rotate(20deg) scale(1,1)
    }
    50% {
        transform: rotate(20deg) scale(1.15,1.15)
    }
    100% {
        transform: rotate(20deg) scale(1,1)
    }
}
@media screen and (max-width: 992px) {

    .cards-slider {
        flex-direction: column;
        display: flex;
        flex-direction: column;
        .card {
            width: 100%;
        }
        .card-img,
        .card-txt {
            width: 100%;
        }
        .card-img {
            img {
                width: 100%;
                height: auto;
            }
        }
        .card-txt {
            position: absolute;
            opacity: .92;
        }
        .chef-camicia {
            left: auto;
            right: 10px;
        }
    }
    .ricette {
        display: none;
    }
    
}